<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
    />
    <link href="./sass/partials/gallery.scss" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body>
<section class="comments">
    <div class="swiper-slide">
        <img alt="person leaving her comment"  src="./images/swiper-person_first" srcset="/images/swiper-person_second.jpg 2x
        ./images/swiper-person_third.jpg 3x" />
        <p>I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you have beautiful serving, cozy atmosphere and polite staff.
        </p>
        <p>Emily, Los Angeles</p>
    </div>
    <div class="swiper-slide"></div>
    <div class="swiper-slide"></div>
</section>
  </body>
  <script src="./js/swiper"></script>
</html>
