<section>
<h2 class-="visually-hidden">Lokalizacje</h2>
<div>
    <p class="location-header">CAFE</p>
<p class="location">Chicago</p>    
<a href="" target="_blank">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
<div class="opening">
    <p>Monday - Friday</p>
    <p class="opening-hours">6:00 AM - 10:00 PM</p>
    <p>Saturday - Sunday</p>
    <p class="opening-hours">08:00 AM - 16:00 PM</p>
</div>
    <address>
        <a href="mailto:noreply@envato.com">noreply@envato.com</a><br />
        <a href="tel:+610383766284">+61(0) 383 766 284</a>
    </address>
</div>
<div>
    <p class="location-header">FOOD TRUCK</p>
<p class="location">Los Angeles</p>    
<a href="" target="_blank">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
<div class="opening">
    <p>Monday - Friday</p>
    <p class="opening-hours">6:00 AM - 10:00 PM</p>
    <p>Saturday - Sunday</p>
    <p class="opening-hours">08:00 AM - 16:00 PM</p>
</div>
    <address>
        <a href="mailto:noreply@envato.com">noreply@envato.com</a><br />
        <a href="tel:+610383766284">+61(0) 383 766 284</a>
    </address>
</div>
<div>
    <p class="location-header">CAFE</p>
<p class="location">New York</p>    
<a href="" target="_blank">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
<div class="opening">
    <p>Monday - Friday</p>
    <p class="opening-hours">6:00 AM - 10:00 PM</p>
    <p>Saturday - Sunday</p>
    <p class="opening-hours">08:00 AM - 16:00 PM</p>
</div>
    <address>
        <a href="mailto:noreply@envato.com">noreply@envato.com</a><br />
        <a href="tel:+610383766284">+61(0) 383 766 284</a>
    </address>
</div>
</section>