<section class="contacts-section" id="contacts">
  <div class="contacts">
    <!-- do css dodać: .visually-hidden:not(:focus):not(:active){
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
  -->
    <h2 class="visually-hidden">Lokalizacje</h2>
    <div class="wrapper-contacts">
      <p class="location-header">CAFE</p>
      <p class="location">Chicago</p>
      <a href="" target="_blank" class="address-wrapper"
        >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
      >
      <div class="opening">
        <p>Monday - Friday</p>
        <p class="opening-hours">6:00 AM - 10:00 PM</p>
        <p class="days-wrapper">Saturday - Sunday</p>
        <p class="opening-hours">08:00 AM - 16:00 PM</p>
      </div>
      <address class="mail-wrapper">
        <a href="mailto:noreply@envato.com">noreply@envato.com</a><br />
        <a href="tel:+610383766284">+61(0) 383 766 284</a>
      </address>
    </div>
    <div class="wrapper-contacts">
      <p class="location-header">FOOD TRUCK</p>
      <p class="location">Los Angeles</p>
      <a href="" target="_blank" class="address-wrapper"
        >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
      >
      <div class="opening">
        <p>Monday - Friday</p>
        <p class="opening-hours">6:00 AM - 10:00 PM</p>
        <p class="days-wrapper">Saturday - Sunday</p>
        <p class="opening-hours">08:00 AM - 16:00 PM</p>
      </div>
      <address class="mail-wrapper">
        <a href="mailto:noreply@envato.com">noreply@envato.com</a><br />
        <a href="tel:+610383766284">+61(0) 383 766 284</a>
      </address>
    </div>
    <div class="wrapper-contacts">
      <p class="location-header">CAFE</p>
      <p class="location">New York</p>
      <a href="" target="_blank" class="address-wrapper"
        >726 Sterling Pl, Brooklyn, NY 11222, USA</a
      >
      <div class="opening">
        <p>Monday - Friday</p>
        <p class="opening-hours">6:00 AM - 10:00 PM</p>
        <p class="days-wrapper">Saturday - Sunday</p>
        <p class="opening-hours">08:00 AM - 16:00 PM</p>
      </div>
      <address class="mail-wrapper">
        <a href="mailto:noreply@envato.com">noreply@envato.com</a><br />
        <a href="tel:+610383766284">+61(0) 383 766 284</a>
      </address>
    </div>
  </div>
  <ul class="btn-contacts">
    <li>
      <button type="button" class="btn locations-btn" modal-our-locations-open>
        Our Locations
        <svg width="12" height="12">
          <use href="/src/images/icons.svg#icon-button-arrow"></use>
        </svg>
      </button>
    </li>
    <li>
      <button type="button" class="btn franchise-btn" modal-franchise-open>
        Franchise
        <svg width="12" height="12">
          <use href="/src/images/icons.svg#icon-button-arrow"></use>
        </svg>
      </button>
    </li>
  </ul>
</section>
