<div class="backdrop is-hidden" modal-franchise="">
    <section class="modal">
        <h1 class="modal__title">Thank you for your interest in owning an Ice Cream shop</h1>
        <p class="modal__paragraph">Due to the overwhelming volume of franchise requests we are not accepting new
            franchisee applications at this
            time. Once the application process resumes, we will contact you for further information. Please fill out the
            contact information below and we will reach out for additional information. We appreciate your patience.</p>
        <form class="modal__form">
            <input class="modal__form--input" type="text" placeholder="Name">
            <input class="modal__form--input" type="tel" placeholder="Phone">
            <input class="modal__form--input" type="email" placeholder="E-mail">
            <textarea class="modal__form--input modal__form--textarea--comment" placeholder="Comment"></textarea>
        </form>
        <button class="about-button">Submit</button>
        <button class="modal__closebutton close-button" type="button" modal-franchise-close="">
            <svg class="modal__closebutton--icon" width="20" height="20">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>
    </section>
</div>