<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
    />
    <link href="./sass/partials/gallery.scss" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body>
    <section>
      <div class="slide">
        <ul class="baner">
          <li>
            <span><img alt="ice-cream" src="/images/swiper-first_x4.jpg" /></span>
          </li>
          <li>
            <span><img alt="ice-cream" src="/images/swiper-second_x4.jpg" /></span>
          </li>
          <li>
            <span><img alt="ice-cream" src="/images/swiper-third_x4.jpg" /></span>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
