<!-- Header -->
<header>
  <div class="header">
    <div class="logo">
      <a class="icon-icecream" href="../index.html">
        <svg width="27.907px" height="55.069px">
          <use href="../images/icons.svg#icon-logo-ice"></use>
        </svg>
        <span class="logo-text">ce</span>
      </a>
    </div>
    <nav>
      <ul class="nav">
        <li class="nav-link">
          <a href="../index.html">Home</a>
        </li>
        <li class="nav-link"><a href="../partials/hero.html">How it's made?</a></li>
        <li class="nav-link">
          <a href="../partials/products.html">Our products</a>
        </li>
        <li class="nav-link"><a href="../partials/comments.html">Contact</a></li>
      </ul>
    </nav>
    <button class="button-buy">
      Buy now
      <svg class="button-arrow" width="12px" height="12px">
        <use href="../images/icons.svg#icon-button-arrow"></use>
      </svg>
    </button>
  </div>
</header>
