<!-- Hero section -->

<section>
  <div class="container dots">
    <div class="hero-content">
      <h1 class="hero-title">Ice cream made with <span class="hero-title-accent">passion</span></h1>
      <div class="hero-buttons">
        <a class="hero-button-bordered" href="#products">Products</a>
        <a class="hero-button-underlined" href="#about">How it's made?</a>
      </div>
      <div class="hero-description">
        <img
          class="hero-icecream-plate"
          src="./images/hero/plate-tablet_1x.png"
          srcset="
            ./images/hero/plate-tablet_1x.png  152w,
            ./images/hero/plate-tablet_2x.png  304w,
            ./images/hero/plate-desktop_1x.png 225w,
            ./images/hero/plate-desktop_2x.png 450w
          "
          sizes="(min-width: 1200px) 225px, (min-width: 768px) 152px, 152px"
          alt="Ice cream on plate"
        />
        <div class="hero-text-wrapper">
          <p class="hero-text">
            Indulge in a scoop of ice cream made with passion and treat your taste buds to an
            unforgettable experience!
          </p>
          <a href="#products"
            ><svg class="hero-arrow" viewBox="0 0 40 16">
              <use href="./images/icons.svg#icon-arrow"></use>
              ">
            </svg></a
          >
        </div>
      </div>
      <div class="hero-statistics">
        <ul class="statistics-item">
          <li class="statistics-number">16</li>
          <li class="statistics-text">cafes</li>
        </ul>
        <ul>
          <li class="statistics-number">23</li>
          <li class="statistics-text">food trucks</li>
        </ul>
      </div>
      <div class="hero-image-wrapper">
        <img
          class="hero-image"
          src="./images/hero/hero-icecream-tablet_1x.png"
          srcset="
            ./images/hero/hero-icecream-mobile_1x.png  177w,
            ./images/hero/hero-icecream-mobile_2x.png  354w,
            ./images/hero/hero-icecream-tablet_1x.png  268w,
            ./images/hero/hero-icecream-tablet_2x.png  536w,
            ./images/hero/hero-icecream-desktop_1x.png 456w,
            ./images/hero/hero-icecream-desktop_2x.png 912w
          "
          sizes="(min-width: 1200px) 456px, (min-width: 768px) 268px, 177px"
          alt="Ice cream in waffle cone"
        />
      </div>
    </div>
  </div>
</section>

<!-- Hero section -->
