<!-- Hero section -->

<section>
  <div class="container">
    <div>
      <h1>Ice cream made with <span>passion</span></h1>
      <div>
        <a href="#products">Products</a>
        <a href="#how_its_made">How it's made?</a>
      </div>
      <div>
        <!-- Poniżej zdjecie lodow na talerzu -->
        <img />
        <div>
          <p>
            Indulge in a scoop of ice cream made with passion and treat your taste buds to an
            unforgettable experience!
          </p>
          <a href="#products"><svg></svg></a>
        </div>
      </div>
      <div>
        <ul>
          <li>16</li>
          <li>cafes</li>
        </ul>
        <ul>
          <li>23</li>
          <li>food trucks</li>
        </ul>
      </div>
      <!-- Poniżej zdjecie lodow z buźkami (pozycjonowane absolutnie)-->
      <div><img /></div>
    </div>
  </div>
</section>

<!-- Hero section -->
