<div class="backdrop is-hidden" modal-our-locations="">
    <section class="modal">
        <h1 class="modal__title">Our Locations</h1>
        <img src="./images/modal.map/map.png" class="modal__image">
        <button class="about-button">Open map</button>
        <button class="modal__closebutton close-button" type="button" modal-our-locations-close="">
            <svg class="modal__closebutton--icon" width="20" height="20">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>
    </section>
</div>