<!-- Products -->

<section class="wrapper">
  <div class="container">
    <p class="products-section-description">100% natural</p>
    <h2 class="products-section-heading" id="products">products</h2>
    <ul class="products-list">
        
      <ul class="products-wrapper-main">
             <div class="products-wrapper wrapper-green">
          <div class="image-1"></div>
          <h3 class="products-heading">ice cream</h3>
          <p class="products-decription">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
          </p>
          <div>
           <button class="arrow-button" product-modal-open>
            <svg class="icon-arrow" >
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg></button>
          </div>
        </div>
      </li>
      <li>
        <div class="products-wrapper wrapper-yellow">
          <div class="image-2"></div>
          <h3 class="products-heading">ice coffee</h3>
          <p class="products-decription">
            Fragrant invigorating drink created from 100% natural ingredients without the use of
            preservatives and flavor enhancers
          </p>
          <div>
            <button class="arrow-button" product-modal-open>
            <svg class="icon-arrow" >
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg></button>
          </div>
        </div>
      </li>
      <li>
        <div class="products-wrapper wrapper-brown">
          <div class="image-3"></div>
          <h3 class="products-heading">milkshakes</h3>
          <p class="products-decription">
            Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and
            other sweets of your choice
          </p>
          <div>
           <button class="arrow-button" data-modal-open>
            <svg class="icon-arrow" >
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg></button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- Products -->
