<!-- Products -->

<section class="wrapper">
  <div class="container">
    <p class="products-section-description">100% natural</p>
    <h2 class="products-section-heading">products</h2>
    <ul class="products-list">
          <div class="modal is-hidden" data-modal>
            <div class="modal-body">
             <button class="modal-close" data-modal-close>
                <svg class="modal-close-icon-items">
                  <use href="./images/icons.svg#icon-close"></use>
                </svg>
              </button>
               <h4 class="modal-heading-1">Chocolate icecream</h4>
                <div class="image-modal"></div>
                <div class="ingredients-wrapper">
                  <div class="ingredients-ellipse"><div class="ingredients-values">320</div><div class="ingredients-text">kcal</div></div>
                  <div class="ingredients-ellipse"><div class="ingredients-values">4g</div><div class="ingredients-text">Protein...</div></div>
                  <div class="ingredients-ellipse"><div class="ingredients-values">8,2g</div><div class="ingredients-text">Fats</div></div>
                  <div class="ingredients-ellipse"><div class="ingredients-values">40,4g</div><div class="ingredients-text">Carbs</div></div>
                </div>
                 <p class="modal-heading-2">Ingredients</p>
                  <div>
                    <div class="ingredients-list">
                   <div class="ingredients-name">Milk</div>
                    <div class="ingredient-quantity">100ml</div>
                    </div>
                  <div class="ingredients-list">
                    <div class="ingredients-name">Belgian chocolate</div>
                    <div class="ingredient-quantity">20g</div>
                  </div>
                  <div class="ingredients-list">
                  <div class="ingredients-name">Cream</div>
                  <div class="ingredient-quantity">150 ml</div>
                  </div>
                  <div class="ingredients-list">
                  <div class="ingredients-name">Cocoa powder</div>
                    <div class="ingredient-quantity">30g</div>
                  </div>
                  <div class="ingredients-list">
                  <div class="ingredients-name">Sugar</div>
                     <div class="ingredient-quantity"> 40g</div>
                    </div> 
                    <div class="ingredients-list">
                  <div class="ingredients-name">Vanilla sugar</div>
                     <div class="ingredient-quantity">10g</div>
                    </div>
                </div>
                <form class="modal-form"></form>         
          </div>
          </div>
      <ul class="products-wrapper-main">
             <div class="products-wrapper wrapper-green">
          <div class="image-1"></div>
          <h3 class="products-heading">ice cream</h3>
          <p class="products-decription">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
          </p>
          <div>
           <button class="arrow-button">
            <svg class="icon-arrow" data-modal-open>
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg></button>
          </div>
        </div>
      </li>
      <li>
        <div class="products-wrapper wrapper-yellow">
          <div class="image-2"></div>
          <h3 class="products-heading">ice coffee</h3>
          <p class="products-decription">
            Fragrant invigorating drink created from 100% natural ingredients without the use of
            preservatives and flavor enhancers
          </p>
          <div>
            <button class="arrow-button">
            <svg class="icon-arrow" data-modal-open>
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg></button>
          </div>
        </div>
      </li>
      <li>
        <div class="products-wrapper wrapper-brown">
          <div class="image-3"></div>
          <h3 class="products-heading">milkshakes</h3>
          <p class="products-decription">
            Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and
            other sweets of your choice
          </p>
          <div>
           <button class="arrow-button">
            <svg class="icon-arrow" data-modal-open>
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg></button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- Products -->
