<!-- Products -->

<section class="wrapper">
  <div class="container">
    <p class="products-section-description">100% natural</p>
    <h2 class="products-section-heading">products</h2>
    <ul class="products-list">
      <li>
        <div class="products-wrapper wrapper-green image-1">
          <h3 class="products-heading">ice cream</h3>
          <p class="products-decription">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural
            stabilizer
          </p>
          <div>
            <a href="#"></a>
            <svg class="icon-arrow"><use href="./images/icons.svg#icon-arrow"></use></svg>
          </div>
        </div>
      </li>
      <li>
        <div class="products-wrapper wrapper-yellow image-2">
          <h3 class="products-heading">ice coffee</h3>
          <p class="products-decription">
            Fragrant invigorating drink created from 100% natural ingredients without the use of
            preservatives and flavor enhancers
          </p>
          <div>
            <a href="#"></a>
            <svg class="icon-arrow"><use href="./images/icons.svg#icon-arrow"></use></svg>
          </div>
        </div>
      </li>
      <li>
        <div class="products-wrapper wrapper-brown image-3">
          <h3 class="products-heading">milkshakes</h3>
          <p class="products-decription">
            Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and
            other sweets of your choice
          </p>
          <div>
            <a href="#"></a>
            <svg class="icon-arrow"><use href="./images/icons.svg#icon-arrow"></use></svg>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- Products -->
