<div class="backdrop is-hidden" modal-read-more="">
    <section class="modal">
        <h1 class="modal__title">How it's made</h1>
        <video src="https://ice-cream-new.p.goit.global/FUNNY_COW.8e709b63.mp4" class="modal__video"></video>
        <p class="modal__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et Lorem
            ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <button class="modal__closebutton close-button" type="button" modal-read-more-close="">
            <svg class="modal__closebutton--icon" width="20" height="20">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>
    </section>
</div>