.container.container-about-advantages {
  background-color: var(--brand-green);
  padding-top: 60px;
  text-align: center;
}

.section-about {
  margin-bottom: 60px;
}

.about-label {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: normal;
  color: var(--light);
  margin-bottom: 12px;
}

.about-heading {
  /* width: 200px; */
  margin: 0 auto 32px;
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  line-height: normal;
  color: var(--light);
  letter-spacing: 1.2px;
}

.about-decorative-picture {
  position: relative;
  width: 278.996px;
  height: 278px;
  border-radius: 140px;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7) 0%, rgba(248, 210, 78, 0.7) 100%),
    #d9d9d9;
  box-shadow: 0px 4.48583px 16.82185px 0px rgba(153, 114, 23, 0.25);
  margin: 0 auto 62px;
}

.about-decorative-picture::after {
  position: absolute;
  content: '';
  left: 0;
  top: 22px;
  width: 278.996px;
  height: 278px;
  border-radius: 140px;
  background: url('/src/images/advantages/advantages-cow_x1.jpg') no-repeat;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--light);
  margin: 0 auto 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 19.44px;
}
.about-text p {
  font-family: inherit;
}
.about-text-first-paragraph {
  /* height: 126px; */
  line-height: 21.12px;
  letter-spacing: 0.48px;
}

.about-button {
  text-align: center;
  background-color: var(--brand-yellow);
  height: 42px;
  width: 164px;
  border-radius: 10px;
  border: none;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
}

.about-btn-icon {
  margin-left: 4px;
}

/* MOBILE */
@media screen and (max-width: 767px) {
  .about-heading {
    width: 200px;
  }

  .about-text {
    width: 220px;
  }
}

/* TABLET */
@media screen and (min-width: 768px) {
  .about-label {
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 0.88px;
  }

  .about.heading {
    font-size: 34px;
    letter-spacing: 2.04px;
  }

  .about-text {
    margin-bottom: 32px;
    text-align: left;
    max-width: 334px;
    line-height: 21.12px;
    gap: 8px;
  }

  .about-decorative-picture {
    border-radius: 165px;
    width: 330px;
    height: 330px;
    margin-left: 0;
    margin-right: 0;
  }

  .about-decorative-picture::after {
    border-radius: 165px;
    width: 330px;
    height: 330px;
    top: 26px;
    background: url('/src/images/advantages/advantages-cow_x2.jpg') no-repeat;
  }

  .about-picture-text {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 38px;
  }

  .about-text-button {
    text-align: left;
  }
}

/* DESKTOP */
@media screen and (min-width: 1200px) {
  .about-text {
    margin-bottom: 54px;
    font-size: 14px;
    letter-spacing: 0.56px;
    line-height: 27.16px;
    max-width: 463px;
  }

  .about-text-first-paragraph {
    letter-spacing: 0.64px;
    line-height: 28.16px;
    font-size: 16px;
  }

  .about-decorative-picture {
    border-radius: 250px;
    width: 490px;
    height: 490px;
  }

  .about-decorative-picture::after {
    border-radius: 250px;
    width: 490px;
    height: 490px;
    top: 39px;
    background: url('/src/images/advantages/advantages-cow_x3.jpg') no-repeat;
  }

  .about-picture-text {
    margin-right: 121px;
    justify-content: space-between;
  }
}
