.backdrop {
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 30;
  background-color: rgba(10, 10, 10, 0.5);
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 1;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* Modal window */
.modal-buy-now {
  max-width: 568px;
  height: auto;
  background-color: var(--light);
  border: 2px solid #f8d24e;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(1);
  position: relative;
  padding-top: 32px;
}

.modal-buy-title {
  color: var(--text);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 103px;
}

/* Close button */
.modal-buy-closebtn {
  position: absolute;
  top: 12px;
  right: 12px;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.modal-buy-closebtn-icon {
  fill: var(--text);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-buy-closebtn-icon:hover {
  transform: rotate(360deg);
}

/* Pictures decoration*/
.buy-pictures {
  display: flex;
  justify-content: center;
}

.buy-pictures-list {
  display: flex;
  gap: 32px;
}

.buy-product-name {
  color: var(--text);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.64px;
  text-transform: uppercase;
}

.buy-decorative-circle {
  position: absolute;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  top: -50%;
}

.buy-decorative-circle::before {
  content: '';
  position: absolute;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  top: -7px;
  background-repeat: no-repeat;
  background-size: cover;
}

.buy-decorative-circle.first::before {
  background-image: url(../images/products/products-icecream_x1.jpg);
}

.buy-decorative-circle.second::before {
  background-image: url(../images/products/products-coffe_x1.jpg);
}

.buy-decorative-circle.third::before {
  background-image: url(../images/products/products-milkshake_x1.jpg);
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .buy-decorative-circle.first::before {
    background-image: url('../images/products/icecream@2x.jpg');
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .buy-decorative-circle.second::before {
    background-image: url('../images/products/coffee@2x.jpg');
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .buy-decorative-circle.third::before {
    background-image: url('../images/products/milkshake@2x.jpg');
  }
}

.buy-decorative-circle.first {
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7) 0%, rgba(156, 190, 143, 0.7) 100%),
    #d9d9d9;
  box-shadow: 0px 5.2602739334106445px 19.72602653503418px rgba(10, 136, 23, 0.25);
}

.buy-decorative-circle.second {
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7) 0%, rgba(248, 210, 78, 0.7) 100%),
    #d9d9d9;
  box-shadow: 0px 5.2602739334106445px 19.72602653503418px rgba(153, 114, 23, 0.25);
}

.buy-decorative-circle.third {
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7) 0%, rgba(213, 117, 63, 0.7) 100%),
    #d9d9d9;
  box-shadow: 0px 5.2602739334106445px 19.72602653503418px rgba(0, 0, 0, 0.25);
}

.buy-text-container {
  position: relative;
  width: 132px;
  height: 135px;
  border-radius: 15px;
  box-shadow: 0px 5.26027px 19.72603px 0px rgba(212, 20, 67, 0.1);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
}

.buy-text-container.first {
  border: 2px solid #96af8c;
}

.buy-text-container.second {
  border: 2px solid #efd478;
  background-color: #efd478;
}

.buy-text-container.third {
  border: 2px solid #d6936d;
}

/* Modal Form*/
.modal-buy-form {
  width: 100%;
  padding: 0 50px;
  margin-top: 40px;
}

.form-buy-input {
  width: 100%;
  height: 42px;
  border-radius: 10px;
  border: 1px solid var(--brand-green);
  background: rgba(248, 210, 78, 0.1);
  padding: 11px 16px;
  font-family: 'Montserrat', sans-serif;
  color: var(--text);
  margin-bottom: 16px;
}

.form-buy-wrapper {
  position: relative;
  max-width: 368px;
  margin: 0 auto;
}

.form-buy-label {
  position: absolute;
  pointer-events: none;
  left: 16px;
  top: 11px;
  transition: 0.2s ease all;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  color: var(--text);
}

.form-buy-input:focus ~ label,
input:not(:placeholder-shown) ~ label {
  top: -16px;
  left: 1px;
  font-size: 9px;
}

.form-buy-input.buy-now-comment {
  min-height: 84px;
  resize: none;
}

.modal__form--input:focus {
  outline: rgba(0, 0, 0, 0);
  background-color: #f8ecbf;
}

/* Button submit */
.form-buy-btn {
  width: 121px;
  height: 42px;
  color: var(--text);
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 12px 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  background-color: var(--brand-yellow);
}

.buy-now-btn-wrapper {
  text-align: center;
  margin: 16px 0 32px;
}

.form-buy-btn:hover {
  background-color: var(--button-green);
}

.form-buy-btn:focus {
  background-color: var(--button-green);
  color: var(--light);
}
