.slide {
    margin: 0px auto;
    padding: 0 20px;
    text-align: center;
    position: relative;
    top:-580px;
    max-width: 440px;
  }
  
  .baner {
    position: absolute;
    padding-left: 0;
    width: 100%;
    height: 450px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    border-radius: 8px;
    overflow: hidden;
    
  }
  
  .baner li {
    list-style: none;
  }
  
  .baner li a {
    display: block;
  
    position: absolute;
    z-index: 1;
    text-indent: -9999em;
  }
  
  .baner li span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: transparent;
    animation: imageAnimation 25s ease infinite 0s;
  }
  
  .baner li:nth-child(2) span {
    animation-delay: 8s;
  }
  
  .baner li:nth-child(3) span {
    animation-delay: 16s;
  }
  
  @keyframes imageAnimation {
    0% {
      opacity: 0;
    }
    13% {
      opacity: 1;
    }
    25% {
      opacity: 1;
    }
    37% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @media screen and (min-width:768px) {
    .slide{
      max-width: 704px;
    }
      }
      @media screen and (min-width:1200px) {
        .slide{
          max-width: 1013px;
        }
      }