.header {
  position: relative;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--brand-green);
}
.nav {
  display: flex;
  column-gap: 28px;
  color: var(--light);
}
.nav-link {
  font-family: 'Montserrat', 'sans-serif';
  font-size: 16px;
  font-weight: 700;
  padding-top: 32px;
  padding-bottom: 13px;
  color: var(--light);
}
.button-buy {
  position: relative;
  width: 152px;
  height: 42px;
  font-family: 'Montserrat', 'sans-serif';
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 3px;
  margin-left: 207px;
  margin-right: 0px;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  border-style: none;
  background-color: var(--brand-yellow);
}
.icon-icecream {
  position: absolute;
  top: 9.86px;
  left: 20px;
  fill: var(--brand-yellow);
}
.logo-text {
  position: absolute;
  top: 32.15px;
  left: 20.43px;
  text-align: center;
  font-family: 'Seymour One', 'sans-serif';
  font-size: 21.76px;
  font-weight: 400;
  letter-spacing: -2.176px;
  color: var(--brand-yellow);
  fill: transparent;
}
.logo {
  width: 60px;
  height: 65px;
  margin-top: 8px;
  padding-right: 308px;
}
.button-arrow {
  position: absolute;
  top: 15px;
  left: 109px;
}
