.header-margin {
  margin-top: 12px;
}
.header {
  position: relative;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--brand-green);
}
.nav {
  display: flex;
  column-gap: 28px;
  color: var(--light);
}
.nav-link {
  font-family: 'Montserrat', 'sans-serif';
  font-size: 16px;
  font-weight: 700;
  padding-top: 32px;
  padding-bottom: 13px;
  color: var(--light);
}
.nav-link:hover {
  color: var(--brand-yellow);
}
.button-buy {
  position: relative;
  width: 152px;
  height: 42px;
  font-family: 'Montserrat', 'sans-serif';
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 3px;
  margin-left: 207px;
  margin-right: 0px;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  border-style: none;
  background-color: var(--brand-yellow);
}

.logo-icon {
  position: absolute;
  /* top: 9.86px;
  left: 20px; */
  width: 40px;
  height: 37px;
  fill: var(--brand-yellow);
}
.logo {
  width: 40px;
  height: 37px;
}
.button-arrow {
  position: absolute;
  top: 15px;
  left: 109px;
}
.mobile-open-button {
  background-color: transparent;
  fill: var(--light);
  border: none;
}
/* Mobile */
@media (min-width: 480px) {
  .header-margin {
    margin-top: 14px;
  }
  .header {
    height: 44px;
  }
  .logo {
    width: 48px;
    height: 44px;
  }
  .logo-icon {
    width: 48px;
    height: 44px;
  }
  .logo-text {
    font-size: 17.687px;
    letter-spacing: -1.769px;
    top: 26.31px;
    left: 37.17px;
  }
}
/* Tablet */
@media (min-width: 768px) {
  .header-margin {
    margin-top: 20px;
  }
  .header {
    height: 48px;
  }
  .mobile-open-button {
    margin-left: 408px;
  }
  .button-buy {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .button-buy {
    display: none;
  }
}
/* Desktop */
@media (min-width: 1199px) {
  .mobile-open-button {
    display: none;
  }
  .header-margin {
    margin-top: 8px;
  }
  .header {
    height: 65px;
  }
  .logo {
    width: 60px;
    height: 65px;
    margin-right: 309px;
  }
  .logo-icon {
    width: 60px;
    height: 65px;
  }
  .button-buy {
    margin-top: 20px;
    margin-bottom: 3px;
    margin-left: 207px;
    margin-right: 0px;
  }
}
@media (max-width: 1199px) {
  .nav {
    display: none;
  }
  nav {
    display: none;
  }
}
