.backdrop *,
*::after,
*::before {
    box-sizing: border-box;
}

.backdrop {
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 30;
    background-color: rgba(10, 10, 10, .5);
    transition: opacity .5s cubic-bezier(.4, 0, .2, 1), visibility .25s cubic-bezier(.4, 0, .2, 1);
    /* transition: opacity .25s cubic-bezier(.4, 0, .2, 1), visibility .25s cubic-bezier(.4, 0, .2, 1); */
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
    z-index: 1;
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%)scale(1.1);
}

.modal {
    height: auto;
    border-radius: 10px;
    border: 2px solid #F8D24E;
    background: #FCFCFC;
    width: 568px;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0)scale(1);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
    padding: 32px 60px;
    position: relative;
}

.modal__title {
    color: #131313;
    text-align: center;
    font-family: Seymour One;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}

.modal__video {
    width: 100%;
    flex-shrink: 0;
}

.modal__paragraph {
    color: #131313;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.modal__closebutton {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background: none;
}

.modal__closebutton--icon {
    width: 24px;
    height: 24px;
    fill: #131313;
    transition: transform .25s cubic-bezier(.4, 0, .2, 1);
}

.modal__closebutton--icon:hover {
    transform: rotate(360deg);
}

@media screen and (max-width: 767px) {
    .backdrop {
        padding: 20px;
    }

    .modal {
        width: 280px;
        padding: 28px;
        row-gap: 20px;
    }

    .modal__title {
        font-size: 16px;
    }

    .modal__paragraph {
        font-size: 14px;
    }

    .modal__closebutton {
        height: 20px;
    }

    .modal__closebutton--icon {
        width: 20px;
        height: 20px;
    }
}