@import url(./hero.css);
@import url(./header.css);
@import url(./footer.css);
@import url(./products.css);
@import url(./comments.css);
@import url(./gallery.css);
@import url(./about.css);

* {
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Seymour One', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

ul {
  list-style: none;
}

:root {
  --light: #fcfcfc;
  --text: #131313;
  --subtle-text: #ababab;
  --brand-green: #84a178;
  --brand-yellow: #f8d24e;
  --disabled: #ababab;
  --modal-fill: rgba(248, 210, 78, 0.1);
  --address: #d6936d;
  --accent-green: #aec6a5;
  --accent-yellow: #efd478;
  --accent-brown: #d6936d;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.example {
  display: none;
}
